<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12" style="">
  <div class="right-content " style="width: 850px">

    <!--        nơi đổ dữ liệu router-outlet              -->

    <fieldset class="scheduler-border" style="background: white;box-shadow: 0 0 2px 2px #cccccc;">
      <legend class="scheduler-border text-center" style="background: #e54744"><h2>Thay đổi thông tin
        khách
        hàng</h2></legend>
      <br>
      <form action="" class="form-group col-12">
        <div class="row input-group">
          <div class="col-3 folow-right">
            <span>Mã khách hàng <label>(*)</label></span>
          </div>
          <div class="col-8">
            <div class="d-flex align-items-center">
              <input readonly class="form-control" type="text" value="KH0012">
            </div>
          </div>
        </div>
        <br>
        <div class="row input-group">
          <div class="col-3 folow-right">
            <span>Họ và tên <label>(*)</label></span>
          </div>
          <div class="col-8">
            <input class="form-control" type="text" value="Đặng Anh Toàn">
            <small style="color: red">Tên  không được để trống. (*)</small><br>
            <small style="color: red">Không ít hơn 4 ký tự. (*)</small>
          </div>
        </div>
        <br>
        <div class="row input-group">
          <div class="col-3 folow-right">
            <span>Ngày sinh <label>(*)</label></span>
          </div>
          <div class="col-4">
            <input type="date" class="form-control" value="2015-05-06">
            <small style="color: red">Ngày sinh không được để trống. (*)</small>
          </div>
        </div>
        <br>
        <div class="row input-group">
          <div class="col-3 folow-right">
            <span>Giới tính <label>(*)</label></span>
          </div>
          <div class="col-8">
            <select class="form-control">
              <option>Nam</option>
              <option>Nữ</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row input-group">
          <div class="col-3 folow-right">
            <span>Email <label>(*)</label></span>
          </div>
          <div class="col-8">
            <input class="form-control" type="email" value="danganhtoan@gmail.com">
            <small style="color: red">Email không được để trống. (*)</small><br>
            <small style="color: red">Vui lòng nhập đúng định dạng (*)</small>
          </div>
        </div>
        <br>
        <div class="row input-group">
          <div class="col-3 folow-right">
            <span>Điện thoại <label>(*)</label></span>
          </div>
          <div class="col-8">
            <input class="form-control" type="text" value="0905111113">
            <small style="color: red">Điện thoại không được để trống. (*)</small><br>
            <small style="color: red">Vui lòng nhập đúng định dạng. (*)</small>
          </div>
        </div>
        <br>
        <div class="row input-group">
          <div class="col-3 folow-right">
            <span>CMND-passport <label>(*)</label></span>
          </div>
          <div class="col-8">
            <input class="form-control" type="text" value="334879255">
            <small style="color: red">CMND không được để trống. (*)</small><br>
            <small style="color: red">Vui lòng nhập đúng định dạng. (*)</small><br>
            <button class="btn btn-success mt-3" type="button"><i class="fa fa-check" aria-hidden="true"></i> Hoàn tất
            </button>
          </div>
        </div>
      </form>

    </fieldset>

  </div>
</div>
