<div>
  <div style="height: 650px;margin-left: -2%;margin-right: -2%">
    <img class="m-0 p-0" src="{{destinations.destinationImage}}" style="width: 100%; height: 100%; object-fit: cover;">
  </div>

  <div class="pt-0 bg-light content-destination">
    <br>
    <div class="d-flex justify-content-end">
      <button class=" btn btn-edit" type="button"><i class="fa fa-edit"></i> Sửa</button>

    </div>
    <div class="p-3 mt-3"><h1
      style="color: red;font-family: 'Bodoni MT';font-weight: bold; font-size: 50px;">{{destinations.destinationName}}</h1></div>
    <div class="ml-3 mb-3">{{destinations.destinationDescription}}</div>
    <div>
      <div class="ml-3 font-weight-bold"></div>
      <div class="ml-3">{{destinations.destinationDescription}} </div>
      <div class="mt-4 mb-4 pb-1">
        <div style="margin-left: 12%"><img src="{{destinations.destinationImage}}"></div>
      </div>
    </div>
    <div *ngFor="let s of scenic">
      <div class="ml-3 font-weight-bold pb-1">{{s.scenicName}} </div>
      <div class="ml-3">{{s.scenicDescription}}</div>
      <div class="mt-4 mb-4">
        <div style="margin-left: 12%"><img src="{{s.scenicImage}}"></div>
      </div>


      <!--    <div>-->
      <!--      <div class="ml-3 font-weight-bold pb-1">3️⃣ Huyện Chư Sê </div>-->
      <!--      <div class="ml-3">“Ôm trọn” vào tầm mắt miền cổ tích ngoài đời thực trên con đường dài hun hút vào Huyện Chư Sê - thị trấn yên bình được bao phủ bởi màu xanh của lá rừng và những cánh rừng cao su bạc ngàn dọc hai bên đường. </div>-->
      <!--      <div class="mt-4 mb-4">-->
      <!--        <div style="margin-left: 12%"><img src=""></div>-->
      <!--      </div>-->
      <!--    </div>-->

    </div>
  </div>
</div>
