
<h2 style="text-align: center"> Đổi mật khẩu admin <span style="color: red "> {{data.name}}</span> </h2>
<form action="" [formGroup]="checkPassForm" (ngSubmit)="changePassword()">
  <label for="password1">Mật khẩu cũ</label>
  <input type="password" id="password1" class="form-control" formControlName="oldPassword">
  <small
    *ngIf="checkPassForm.controls.oldPassword.hasError('required') && (checkPassForm.controls.oldPassword.dirty || checkPassForm.controls.oldPassword.touched)"
    style="color: red">Not empty </small>
  <small
    *ngIf="checkPassForm.controls.oldPassword .hasError('pattern') && (checkPassForm.controls.oldPassword.dirty || checkPassForm.controls.oldPassword.touched)"
    style="color: red">  kí tự chữ a -z không dấu , kí tự số 0-9 , ít nhất 5 kí tự </small>
  <br>
  <label for="password2">Mật khẩu mới</label>
  <input type="password" id="password2" class="form-control" formControlName="newPassword">
  <small style="color: red"
         *ngIf="checkPassForm.controls.newPassword.hasError('required') && (checkPassForm.controls.newPassword.touched || checkPassForm.controls.newPassword.dirty)">
    Not empty
  </small>
  <small style="color: red"
         *ngIf="checkPassForm.controls.newPassword.hasError('pattern') && (checkPassForm.controls.newPassword.touched || checkPassForm.controls.newPassword.dirty)">
    kí tự chữ a -z không dấu , kí tự số 0-9 , ít nhất 5 kí tự
  </small>
  <br>
  <label for="password3">Nhập lại mật khẩu mới</label>
  <input type="password" id="password3" class="form-control" formControlName="confirmNewPassword">
  <small style="color: red" *ngIf="checkPassForm.hasError('passwordNotMatch')&&(checkPassForm.controls.confirmNewPassword.touched || checkPassForm.controls.confirmNewPassword.dirty)">Mật khẩu không trùng khớp</small>

  <div class="float-right mt-5">
    <button type="button" class="btn btn-secondary" (click)="closeDialog()">Hủy</button>
    <button type="submit" class="btn btn-primary" >Đổi mật khẩu</button>
  </div>

</form>



