/*#region MY-CART*/
.my-card {
  width: 103%;
  height: 40%;
  margin-top: 20px;
  position: absolute;
  top: -25PX;
  left: -8px;
  /*background: white;*/
}

.my-card img {
  width: 95%;
  height: 110%;
  padding-left: 20px;

}
/*#endregion*/

@media (max-width: 768px ) {
  #addNews {
    right: 20px !important;

  }
  #editNews{
    top:10px!important;
    right: 60px!important;
  }
}
