<!--<div>-->
<!--  <div class="feed-image"><img class="news-feed-image rounded img-fluid img-responsive"-->
<!--                               src="../../../../../assets/img-news/tin1.jpg" alt=""></div>-->
<!--</div>-->
<br>
<br>
<br>
<div style="background: white">
  <div >
    <div class="row d-flex justify-content-center">
      <div class="col-sm-15 col-md-10 col-lg-10 py-0 pl-3 pr-1">
        <div id="featured" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card bg-dark text-white"><img class="card-img img-fluid"
                                                        src="../../../../../assets/img-news/tin1.jpg" alt="">
                <div class="card-img-overlay d-flex linkfeat"><a href=""
                                                                 class="align-self-end">
                  <span class="badge">Entertainment</span>
                  <h4 class="card-title">Ngày 25/8, cả nước có 12.096 ca COVID-19 ,
                    việc tiêm vắc xin đã đạt mốc hơn 18 triệu liều</h4>
                </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  header chi tiết tin      -->

      <!--  body chi tiết tin      -->
    </div>

    <div class="row d-flex justify-content-center">

      <div class="col-sm-15 col-md-10 col-lg-10 py-0 pl-3 pr-1">
        <small class="my-2">Hoàng Đan | 23/08/2021 11:35 AM</small>
        <p>
          Tính từ 18h ngày 24/8 đến 18h ngày 25/8, trên Hệ thống Quốc gia quản lý ca bệnh
          COVID-19 ghi nhận 12.096 ca nhiễm mới, trong đó 3 ca nhập cảnh và 12.093 ca ghi nhận
          trong nước.<br>

          Cụ thể, tại TP. Hồ Chí Minh (5.294 ), Bình Dương (4.129), Đồng Nai (618), Long An
          (460), Tiền Giang (319), Đà Nẵng (162), Khánh Hòa (150), Tây Ninh (119), Bình Thuận
          (106), Hà Nội (96), Nghệ An (95), Đồng Tháp (93), Cần Thơ (90), Bà Rịa - Vũng Tàu
          (75), An Giang (50), Đắk Lắk (40), Cà Mau (28), Phú Yên (27), Trà Vinh (24), Kiên
          Giang (23), Bình Định (18), Hà Tĩnh (15), Quảng Nam (9), Bạc Liêu (7), Bình Phước
          (7), Ninh Thuận (6), Vĩnh Long (5), Đắk Nông (5), Sơn La (4), Hậu Giang (4), Sóc
          Trăng (4), Thanh Hóa (3), Bắc Ninh (3), Thái Bình (2), Quảng Ngãi (2), Quảng Bình
          (1) trong đó có 7.321 ca trong cộng đồng.<br>

          Như vậy trong 24h giờ qua số ca nhiễm ghi nhận trong nước tăng 1.296 ca. Tại TP. Hồ
          Chí Minh tăng 667 ca, Bình Dương tăng 501 ca, Đồng Nai giảm 181 ca, Long An tăng 67
          Tính từ 18h ngày 24/8 đến 18h ngày 25/8, trên Hệ thống Quốc gia quản lý ca bệnh
          COVID-19 ghi nhận 12.096 ca nhiễm mới, trong đó 3 ca nhập cảnh và 12.093 ca ghi nhận
          trong nước.<br>

          Cụ thể, tại TP. Hồ Chí Minh (5.294 ), Bình Dương (4.129), Đồng Nai (618), Long An
          (460), Tiền Giang (319), Đà Nẵng (162), Khánh Hòa (150), Tây Ninh (119), Bình Thuận
          (106), Hà Nội (96), Nghệ An (95), Đồng Tháp (93), Cần Thơ (90), Bà Rịa - Vũng Tàu
          (75), An Giang (50), Đắk Lắk (40), Cà Mau (28), Phú Yên (27), Trà Vinh (24), Kiên
          Giang (23), Bình Định (18), Hà Tĩnh (15), Quảng Nam (9), Bạc Liêu (7), Bình Phước
          (7), Ninh Thuận (6), Vĩnh Long (5), Đắk Nông (5), Sơn La (4), Hậu Giang (4), Sóc
          Trăng (4), Thanh Hóa (3), Bắc Ninh (3), Thái Bình (2), Quảng Ngãi (2), Quảng Bình
          (1) trong đó có 7.321 ca trong cộng đồng.<br>

          Như vậy trong 24h giờ qua số ca nhiễm ghi nhận trong nước tăng 1.296 ca. Tại TP. Hồ
          Chí Minh tăng 667 ca, Bình Dương tăng 501 ca, Đồng Nai giảm 181 ca, Long An tăng 67
          Tính từ 18h ngày 24/8 đến 18h ngày 25/8, trên Hệ thống Quốc gia quản lý ca bệnh
          COVID-19 ghi nhận 12.096 ca nhiễm mới, trong đó 3 ca nhập cảnh và 12.093 ca ghi nhận
          trong nước.<br>

          Cụ thể, tại TP. Hồ Chí Minh (5.294 ), Bình Dương (4.129), Đồng Nai (618), Long An
          (460), Tiền Giang (319), Đà Nẵng (162), Khánh Hòa (150), Tây Ninh (119), Bình Thuận
          (106), Hà Nội (96), Nghệ An (95), Đồng Tháp (93), Cần Thơ (90), Bà Rịa - Vũng Tàu
          (75), An Giang (50), Đắk Lắk (40), Cà Mau (28), Phú Yên (27), Trà Vinh (24), Kiên
          Giang (23), Bình Định (18), Hà Tĩnh (15), Quảng Nam (9), Bạc Liêu (7), Bình Phước
          (7), Ninh Thuận (6), Vĩnh Long (5), Đắk Nông (5), Sơn La (4), Hậu Giang (4), Sóc
          Trăng (4), Thanh Hóa (3), Bắc Ninh (3), Thái Bình (2), Quảng Ngãi (2), Quảng Bình
          (1) trong đó có 7.321 ca trong cộng đồng.<br>

          Như vậy trong 24h giờ qua số ca nhiễm ghi nhận trong nước tăng 1.296 ca. Tại TP. Hồ
          Chí Minh tăng 667 ca, Bình Dương tăng 501 ca, Đồng Nai giảm 181 ca, Long An tăng 67
          ca, Tiền Giang tăng 226 ca.<br>
          Như vậy trong 24h giờ qua số ca nhiễm ghi nhận trong nước tăng 1.296 ca. Tại TP. Hồ
          Chí Minh tăng 667 ca, Bình Dương tăng 501 ca, Đồng Nai giảm 181 ca, Long An tăng 67
          Tính từ 18h ngày 24/8 đến 18h ngày 25/8, trên Hệ thống Quốc gia quản lý ca bệnh
          COVID-19 ghi nhận 12.096 ca nhiễm mới, trong đó 3 ca nhập cảnh và 12.093 ca ghi nhận
          trong nước.<br>

          Cụ thể, tại TP. Hồ Chí Minh (5.294 ), Bình Dương (4.129), Đồng Nai (618), Long An
          (460), Tiền Giang (319), Đà Nẵng (162), Khánh Hòa (150), Tây Ninh (119), Bình Thuận
          (106), Hà Nội (96), Nghệ An (95), Đồng Tháp (93), Cần Thơ (90), Bà Rịa - Vũng Tàu
          (75), An Giang (50), Đắk Lắk (40), Cà Mau (28), Phú Yên (27), Trà Vinh (24), Kiên
          Giang (23), Bình Định (18), Hà Tĩnh (15), Quảng Nam (9), Bạc Liêu (7), Bình Phước
          (7), Ninh Thuận (6), Vĩnh Long (5), Đắk Nông (5), Sơn La (4), Hậu Giang (4), Sóc
          Trăng (4), Thanh Hóa (3), Bắc Ninh (3), Thái Bình (2), Quảng Ngãi (2), Quảng Bình
          (1) trong đó có 7.321 ca trong cộng đồng.<br>

          Như vậy trong 24h giờ qua số ca nhiễm ghi nhận trong nước tăng 1.296 ca. Tại TP. Hồ
          Chí Minh tăng 667 ca, Bình Dương tăng 501 ca, Đồng Nai giảm 181 ca, Long An tăng 67
          ca, Tiền Giang tăng 226 ca.<br>
        </p>

      </div>
    </div>
  </div>
</div>
