
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 d-none d-xl-block" style="margin-top: 72px">
      <div class="d-flex justify-content-end">
        <div class="side-bar">
          <ul class="background-side">
            <li class="menu-item p-0">
              <ul class="menu-item-child">
                <li class="item item-hover"><a class="pl-2 to-text-sidebar">Thông tin cá nhân</a></li>
              </ul>
            </li>
            <li class="menu-item p-0">
              <ul class="menu-item-child">
                <li class="item item-hover"><a class="pl-2 to-text-sidebar">Thanh toán</a></li>
              </ul>
            </li>
            <li class="menu-item p-0">
              <ul class="menu-item-child">
                <li class="item item-hover"><a class="pl-2 to-text-sidebar">Lịch sử giao dịch</a></li>
              </ul>
            </li>
            <li class="menu-item p-0">
              <ul class="menu-item-child">
                <li class="item item-hover"><a class="pl-2 to-text-sidebar">Đổi mật khẩu</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 d-flex justify-content-start" style="">
      <div class="right-content w-100">
        <!--        nơi đổ dữ liệu router-outlet              -->
        <div class="text-center pt-3"><h3>ĐỔI MẬT KHẨU</h3></div>
        <div class="text-center text-grey"><p>Vui lòng tạo mật khẩu của bạn bên dưới và xác nhận:</p></div>
        <div class="container-change-password">
          <fieldset class="scheduler-border">
            <br>
            <form class="form-group col-12" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
              <div class="row input-group">
                <div class="col-3 folow-right form-la">
                  <label for = "oldPassword">Mật khẩu cũ <span class="text-danger">*</span></label>
                </div>
                <div class="col-8">
                  <div class="d-flex align-items-center">
                    <input id="oldPassword" class="form-control" type="password" formControlName="oldPassword" autocomplete="on">
                  </div>
                  <small
                    *ngIf="passwordForm.controls.oldPassword.hasError('pattern') && (passwordForm.controls.oldPassword.dirty || passwordForm.controls.oldPassword.touched)"
                    style="color: red">  Mật khẩu phải từ 8-20 ký tự bao gồm ký tự viết hoa và số </small>
                </div>
              </div>
              <br>
              <div class="row input-group">
                <div class="col-3 folow-right">
                  <label for = "newPassword">Mật khẩu mới <span class="text-danger">*</span></label>
                </div>
                <div class="col-8">
                  <input id="newPassword" class="form-control" type="password" formControlName="newPassword" autocomplete="on">
                  <small
                    *ngIf="passwordForm.controls.newPassword.hasError('pattern') && (passwordForm.controls.newPassword.dirty || passwordForm.controls.newPassword.touched)"
                    style="color: red">  Mật khẩu phải từ 8-20 ký tự bao gồm ký tự viết hoa và số </small>
                </div>
              </div>
              <br>
              <div class="row input-group">
                <div class="col-3 folow-right">
                  <label for = "confirmPassword">Xác nhận mật khẩu <span class="text-danger">*</span></label>
                </div>
                <div class="col-8">
                  <input id="confirmPassword" class="form-control" type="password" formControlName="confirmPassword" autocomplete="on">
                  <small
                    *ngIf="passwordForm.controls.confirmPassword.hasError('pattern') && (passwordForm.controls.confirmPassword.dirty || passwordForm.controls.confirmPassword.touched)"
                    style="color: red">  Mật khẩu phải từ 8-20 ký tự bao gồm ký tự viết hoa và số </small>
                </div>
              </div>
              <br>
            </form>
            <div class="d-flex justify-content-around pb-3">
              <button class="mr-5 btn btn-confirm" type="button" (click)="changePassword()"> Xác nhận
              </button>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
