<div class="row">
  <header>
    <div style="display: inline">
      <label class="logo">C0221G1-PLANE</label>
      <label class="logo1">C0221G1</label>
    </div>
    <span>
        <i class="fa fa-user-circle-o mt-1" aria-hidden="true"></i>&nbsp;
        <a href="#">Đăng ký </a>&nbsp;|&nbsp;
        <a href="#">Đăng nhập </a>&nbsp;
    </span>
    <input type="checkbox" id="check">
    <label for="check" class="checkBtn">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </label>
    <ul>
      <li><a href="#">Trang chủ</a></li>
      <li><a href="#">Tin khuyến mãi</a></li>
      <li><a href="#">Giới thiệu</a></li>
      <li><a href="#">Quy định hành lý</a></li>
    </ul>
  </header>
</div>
