<div class="container-fluid" style="margin-top: 90px">
  <div class="row justify-content-center">
    <h2>Thông tin hành khách thực hiện chuyến bay</h2>
  </div>
  <div class="row border border-dark px-5 py-2 my-3 bg-white rounded">
    <div class="col-lg-12">
      <div class="row">
        <h4><b>TP Hồ Chí Minh <i class="fa fa-fighter-jet"></i> Hà Nội</b></h4>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="row">TP Hồ Chí Minh (SGN)</div>
          <div class="row">05:00, 06/8/2020</div>
          <div class="row">Tân Sơn Nhất</div>
          <div class="row">
            <div class="col-lg-6">
              <div class="row">Loại hành khách</div>
              <div class="row">Người lớn</div>
            </div>
            <div class="col-lg-6">

            </div>
          </div>

        </div>
        <div class="col-lg-4">
          <div class="row">Hà Nội (HAN)</div>
          <div class="row">07:00, 06/8/2020</div>
          <div class="row">Nội Bài</div>
          <div class="row">
            <div class="col-lg-6">
              <div class="row">Giá mỗi vé</div>
              <div class="row">1,109,000 VNĐ</div>
            </div>
            <div class="col-lg-6">
              <div class="row">Thuế & Phí</div>
              <div class="row">681,000 VNĐ</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">Vietnam Airlines</div>
          <div class="row">Chuyến bay: VN 236</div>
          <div class="row">Loại vé: Phổ thông</div>
          <div class="row">
            <div class="col-lg-12">
              <div class="row">Tổng giá</div>
              <div class="row">1,790,000 VNĐ</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">Thông tin người bay từ TP Hồ Chí Minh --> Hà Nội</div>
      <div class="row border border-dark px-2 my-2">
        <div class="col-lg-12 pb-1">
          <div class="row py-2">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-6">
                  <div class="row">Hành khách số 1</div>
                </div>
                <div class="col-lg-6">
                  <div class="row align-items-center">
                    <div class="col-lg-1 p-0 ">
                        <input type="checkbox">
                    </div>
                    <div class="col-lg-11 px-0">
                      Có kèm em bé
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="row"><label class="label-text">Họ và tên <span style="color: red">(*)</span></label>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="row"><input type="text" placeholder="Nguyễn Văn A"></div>
            </div>
            <div class="col-lg-3">
              <div class="row">Hành lý ký gửi</div>
            </div>
            <div class="col-lg-3">
              <div class="row">
                <select>
                  <option>Mua thêm 15kg - 170.000 VNĐ</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row pb-2">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
              <div class="row"><span style="color: red">Họ và tên không hợp lệ!</span></div>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="row"><label class="label-text">Giới tính <span style="color: red">(*)</span></label>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="row">
                <select>
                  <option>Nam</option>
                  <option>Nữ</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="row">Email</div>
            </div>
            <div class="col-lg-3">
              <div class="row">
                <input style="height: 25px" type="text" placeholder="nguyenvana@gmail.com">
              </div>
            </div>
          </div>
          <div class="row pb-2">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
              <div class="row"><span style="color: red">Giới tính không hợp lệ!</span></div>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
              <div class="row"><span style="color: red">Email không hợp lệ!</span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="row">Số điện thoại</div>
            </div>
            <div class="col-lg-3">
              <div class="row">
                <input style="height: 25px" type="text" placeholder="0905999999">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="row"><label class="label-text">CMND/Passport <span
                style="color: red">(*)</span></label></div>
            </div>
            <div class="col-lg-3">
              <div class="row">
                <input style="height: 25px" type="text" placeholder="201524521">
              </div>
            </div>
          </div>
          <div class="row pb-2">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
              <div class="row">
                <span style="color: red">SĐT không hợp lệ!</span>
              </div>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
              <div class="row">
                <span style="color: red">CMND/Passport không hợp lệ!</span>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="row border border-dark px-5 py-2 my-3 bg-white rounded">
    <div class="col-lg-12">
      <div class="row">
        <h4><b>Hà Nội <i class="fa fa-fighter-jet"></i> TP Hồ Chí Minh</b></h4>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="row">Hà Nội (HAN)</div>
          <div class="row">09:00, 06/8/2020</div>
          <div class="row">Nội Bài</div>
          <div class="row">
            <div class="col-lg-6">
              <div class="row">Loại hành khách</div>
              <div class="row">Người lớn</div>
            </div>
            <div class="col-lg-6">
              <!--                                <div class="row">Số lượng vé</div>-->
              <!--                                <div class="row">-->
              <!--                                    2-->
              <!--                                </div>-->
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">TP Hồ Chí Minh (SGN)</div>
          <div class="row">11:00, 06/8/2020</div>
          <div class="row">Tân Sơn Nhất</div>
          <div class="row">
            <div class="col-lg-6">
              <div class="row">Giá mỗi vé</div>
              <div class="row">1,109,000 VNĐ</div>
            </div>
            <div class="col-lg-6">
              <div class="row">Thuế & Phí</div>
              <div class="row">681,000 VNĐ</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">Vietnam Airlines</div>
          <div class="row">Chuyến bay: VN 236</div>
          <div class="row">Loại vé: Phổ thông</div>
          <div class="row">
            <div class="col-lg-12">
              <div class="row">Tổng giá</div>
              <div class="row">1,790,000 VNĐ</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">Thông tin người bay từ Hà Nội --> TP Hồ Chí Minh</div>
      <div class="row border border-dark px-2 my-2">
        <div class="col-lg-12 pb-1">
          <div class="row py-2">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-6">
                  <div class="row">Hành khách số 1</div>
                </div>
                <div class="col-lg-6">
                  <div class="row align-items-center">
                    <div class="col-lg-1 p-0 ">
                      <input type="checkbox">
                    </div>
                    <div class="col-lg-11 px-0">
                      Có kèm em bé
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="row"><label class="label-text">Họ và tên <span style="color: red">(*)</span></label>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="row"><input type="text" placeholder="Nguyễn Văn A"></div>
            </div>
            <div class="col-lg-3">
              <div class="row">Hành lý ký gửi</div>
            </div>
            <div class="col-lg-3">
              <div class="row">
                <select>
                  <option>Mua thêm 15kg - 170.000 VNĐ</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row pb-2">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
              <div class="row"><span style="color: red">Họ và tên không hợp lệ!</span></div>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="row"><label class="label-text">Giới tính <span style="color: red">(*)</span></label>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="row">
                <select>
                  <option>Nam</option>
                  <option>Nữ</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="row">Email</div>
            </div>
            <div class="col-lg-3">
              <div class="row">
                <input style="height: 25px" type="text" placeholder="nguyenvana@gmail.com">
              </div>
            </div>
          </div>
          <div class="row pb-2">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
              <div class="row"><span style="color: red">Giới tính không hợp lệ!</span></div>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
              <div class="row"><span style="color: red">Email không hợp lệ!</span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="row">Số điện thoại</div>
            </div>
            <div class="col-lg-3">
              <div class="row">
                <input style="height: 25px" type="text" placeholder="0905999999">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="row"><label class="label-text">CMND/Passport <span
                style="color: red">(*)</span></label></div>
            </div>
            <div class="col-lg-3">
              <div class="row">
                <input style="height: 25px" type="text" placeholder="201524521">
              </div>
            </div>
          </div>
          <div class="row pb-2">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
              <div class="row">
                <span style="color: red">SĐT không hợp lệ!</span>
              </div>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
              <div class="row">
                <span style="color: red">CMND/Passport không hợp lệ!</span>
              </div>
            </div>
          </div>
        </div>
        <!--                    <div class="col-lg-12">-->
        <!--                        <hr style="color: #1b1e21">-->
        <!--                    </div>-->

        <!--                    <div class="col-lg-12 pb-1">-->
        <!--                        <div class="row">-->
        <!--                            <div class="col-lg-6">-->
        <!--                                <div class="row">-->
        <!--                                    <div class="col-lg-6">-->
        <!--                                        <div class="row">Hành khách số 2</div>-->
        <!--                                    </div>-->
        <!--                                    <div class="col-lg-6">-->
        <!--                                        <div class="row">-->
        <!--                                            <input type="checkbox">Là trẻ em đi kèm-->
        <!--                                        </div>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="row">-->
        <!--                            <div class="col-lg-6">-->
        <!--                                <div class="row">-->
        <!--                                    <div class="col-lg-6">-->
        <!--                                        <div class="row"><label class="label-text">Họ và tên <span style="color: red">(*)</span></label></div>-->
        <!--                                    </div>-->
        <!--                                    <div class="col-lg-6 px-0">-->
        <!--                                        <input type="text" placeholder="Nguyễn Văn A">-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                                <div class="row">-->
        <!--                                    <div class="col-lg-6">-->
        <!--                                    </div>-->
        <!--                                    <div class="col-lg-6">-->
        <!--                                        <div class="row"><span style="color: red">Họ và tên không hợp lệ!</span></div>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                                <div class="row">-->
        <!--                                    <div class="col-lg-6">-->
        <!--                                        <div class="row"><label class="label-text">Giới tính <span style="color: red">(*)</span></label></div>-->
        <!--                                    </div>-->
        <!--                                    <div class="col-lg-6 px-0">-->
        <!--                                        <select>-->
        <!--                                            <option>Nam</option>-->
        <!--                                            <option>Nữ</option>-->
        <!--                                        </select>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                                <div class="row">-->
        <!--                                    <div class="col-lg-6">-->
        <!--                                    </div>-->
        <!--                                    <div class="col-lg-6">-->
        <!--                                        <div class="row"><span style="color: red">Giới tính không hợp lệ!</span></div>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                                <div class="row">-->
        <!--                                    <div class="col-lg-6">-->
        <!--                                        <div class="row">Số điện thoại</div>-->
        <!--                                    </div>-->
        <!--                                    <div class="col-lg-6 px-0">-->
        <!--                                        <input style="height: 25px" type="text" placeholder="0905999999">-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                                <div class="row">-->
        <!--                                    <div class="col-lg-6">-->
        <!--                                    </div>-->
        <!--                                    <div class="col-lg-6">-->
        <!--                                        <div class="row"><span style="color: red">SĐT không hợp lệ!</span></div>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                            <div class="col-lg-6">-->
        <!--                                <div class="row">-->
        <!--                                    <div class="col-lg-6">-->
        <!--                                        <div class="row">Hành lý ký gửi</div>-->
        <!--                                    </div>-->
        <!--                                    <div class="col-lg-6 px-0">-->
        <!--                                        <select>-->
        <!--                                            <option>Mua thêm 15kg - 170.000 VNĐ</option>-->
        <!--                                        </select>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                                <div class="row">-->
        <!--                                    <div class="col-lg-6">-->
        <!--                                        <div class="row">Email</div>-->
        <!--                                    </div>-->
        <!--                                    <div class="col-lg-6 px-0">-->
        <!--                                        <input style="height: 25px" type="text" placeholder="nguyenvana@gmail.com">-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                                <div class="row">-->
        <!--                                    <div class="col-lg-6">-->
        <!--                                    </div>-->
        <!--                                    <div class="col-lg-6">-->
        <!--                                        <div class="row"><span style="color: red">Email không hợp lệ!</span></div>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                                <div class="row mb-2">-->
        <!--                                    <div class="col-lg-6">-->
        <!--                                        <div class="row"><label class="label-text">CMND/Passport <span style="color: red">(*)</span></label></div>-->
        <!--                                    </div>-->
        <!--                                    <div class="col-lg-6 px-0">-->
        <!--                                        <input style="height: 25px" type="text" placeholder="201524521">-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                                <div class="row">-->
        <!--                                    <div class="col-lg-6">-->
        <!--                                    </div>-->
        <!--                                    <div class="col-lg-6">-->
        <!--                                        <div class="row"><span style="color: red">CMND/Passport không hợp lệ!</span></div>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->

      </div>
    </div>

  </div>
  <div class="container">
    <div class="row mt-2">
      <div class="col-lg-6">
        <div class="row justify-content-center align-items-center">
          <button class=" btn btn-return fa fa-reply" type="button" style="height: 30px"> Chọn lại chuyến
            bay
          </button>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row justify-content-center align-items-center">
          <button class="btn btn-search fa fa-plus" style="height: 30px;width: 177px"> Đặt vé</button>
        </div>
      </div>
    </div>

  </div>

</div>
