body{
  background-color: #aaaaaa;
}
.dialog-modal{
  width: 500px;
  height: 250px;
  background-color: white;
  margin: 50px auto;
  border-radius: 5px;
}
.btn{
  min-width: 90px;
}
.btn-return{
  background-color: #0062D2;
  color: white;
}
.btn:hover{
  color: black !important;
}

