<!--    điểm đến của hấp dẫn-->
<div class="row">
  <div class="container">
    <h3 class="text-center text-danger font-weight-bold">Điểm Đến Hấp Dẫn</h3>
    <div class="d-flex justify-content-end">
      <button class=" btn btn-primary" [routerLink]="['/destination/create-destination']">
        <i class="fa fa-plus-square"></i>
        Thêm
      </button>
    </div>
    <div class="row">


      <div class="col-sm-4 col-md-4" *ngFor="let d of destinations">
        <div class="my-card">

          <div class="my-card-titles">
            <div class="my-card-title">
              <div class="my-card-title-2"><img src="./assets/img/card-2.svg" alt=""></div>
              <div class="my-card-title-3" ><img style="" src="./assets/img/card-3.svg" alt=""></div>
             <span style="font-size: 18px">{{d.destinationName}}</span>
            </div>
          </div>
          <div class="my-card-title-1"><a [routerLink]="['destination/detail',d.destinationId]"><img src="{{d.destinationImage}}" style="width: 350px;height: 300px" alt=""></a>

          </div>
          <div class="dropdown buttonDeleteEdit">
            <a class="btn" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item"> <i class="fa fa-edit text-warning" [routerLink]="['destination/edit-destination',d.destinationId]" ></i> Sửa</a>
              <a class="dropdown-item" data-toggle="modal" (click)="deleteDestination(d.destinationName,d.destinationId)"> <i class="fa fa-trash text-danger"></i> Xóa</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-end" *ngIf="destinations.length != 0">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" (click)="previous()">Trước</a></li>
          <li class="page-item" *ngFor="let p of pages; let i=index"><a class="page-link" (click)="setPage(i)"
                                                                        [style]="(page ==i) ? 'background: #63B8FF; color: white': ''">{{i + 1}}</a>
          </li>
          <li class="page-item"><a class="page-link" (click)="next()">Sau</a></li>
        </ul>
      </nav>
    </div>

  </div>
</div>


