<div class="container-fluid">
  <div class="row">
    <div class="footer">
      <!--            <div class="container">-->
      <div class="row">
        <div class="column col-sm-6 col-md">
          Kết nối với Vietjet
          <br>
          <div>
            <a href="#"><img src="../../../../assets/img/facebook.png" alt=""></a>
            <a href="#"><img src="../../../../assets/img/insta.png" alt=""></a>
            <a href="#"><img src="../../../../assets/img/twitter.png" alt=""></a>
            <a href="#"><img src="../../../../assets/img/line.png" alt=""></a>
            <a href="#"><img src="../../../../assets/img/wechat.png" alt=""></a>
            <a href="#"><img src="../../../../assets/img/zalo.png" alt=""></a>
          </div>
          Cập nhật thông tin chuyến bay Flightradar
        </div>
        <div class="column col-sm-6 col-md">
          <img src="../../../../assets/img/ticket.svg" alt="">Hướng dẫn đặt chuyến bay
          Chắp cánh ước mơ với Vietjet
          <div>
            <img src="../../../../assets/img/footerHome.png" alt="">
          </div>
        </div>
        <div class="column col-sm-6 col-md">
          <img src="../../../../assets/img/payment.png" alt="">Hướng dẫn thanh toán
          Tải ứng dụng di động Vietjet Air
          <img src="../../../../assets/img/applestore.png" alt="">
          <img src="../../../../assets/img/googleplay.png" alt="">
        </div>
        <div class="column col-sm-6 col-md">
          CÔNG TY CỔ PHẦN HÀNG KHÔNG VIETJET
          302/3 Phố Kim Mã, Phường Ngọc Khánh, Quận Ba Đình, TP. Hà Nội, Việt Nam.
          <img src="../../../../assets/img/information.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
