<hr>
<div class="row">
  <div class="footer">
    <!--            <div class="container">-->
    <div class="row">
      <div class="column col-sm-6 col-md">
        Kết nối với C0221G1 Airline
        <br>
        <div>
          <a href="#"><img src="./assets/img/facebook.png" alt=""></a>
          <a href="#"><img src="./assets/img/insta.png" alt=""></a>
          <a href="#"><img src="./assets/img/twitter.png" alt=""></a>
          <a href="#"><img src="./assets/img/line.png" alt=""></a>
          <a href="#"><img src="./assets/img/wechat.png" alt=""></a>
          <a href="#"><img src="./assets/img/zalo.png" alt=""></a>
        </div>
        Cập nhật thông tin chuyến bay Flightradar
      </div>
      <div class="column col-sm-6 col-md">
        <div class="d-flex">
          <img style="padding-bottom: 15px" src="./assets/img/ticket.svg" alt="">
          <p>Hướng dẫn đặt chuyến bay
            Chắp cánh ước mơ với C0221G1 Airline</p>
        </div>

        <div>
          <img src="./assets/img/footerHome.png" alt="">
        </div>
      </div>
      <div class="column col-sm-6 col-md">
        <div class="d-flex"><img src="./assets/img/payment.png" alt="">
          <p>Hướng dẫn thanh toán
            Tải ứng dụng di động C0221G1 Airline</p></div>
        <img src="./assets/img/applestore.png" alt="">
        <img src="./assets/img/googleplay.png" alt="">
      </div>
      <div class="column col-sm-6 col-md">
        <div class="d-flex">
          <p>CÔNG TY CỔ PHẦN HÀNG KHÔNG C0221G1 AIRLINE
            302/3 Phố Kim Mã, Phường Ngọc Khánh, Quận Ba Đình, TP. Hà Nội, Việt Nam.</p>
          <img src="./assets/img/information.png" alt="">
        </div>

      </div>
    </div>
  </div>
</div>
