
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()" #formGroupRef="ngForm">
        <div class="modal-header">
          <div class="modal-title font-weight-bold ">
            <h4 style="margin-left: 170px">Đổi mật khẩu</h4>
          </div>
        </div>
        <div class="container modal-body">
          <div class="row ml-4">
            <div class="col-6 mt-1">
              <span>Mật khẩu hiện tại (<label style="color: red">*</label>)</span>
            </div>
            <div class="col-6 form-group pl-0 pr-5">
              <input formControlName="oldPassword" class="form-control" type="text">
              <small
                *ngIf="passwordForm.controls.oldPassword.hasError('pattern') && (passwordForm.controls.oldPassword.dirty || passwordForm.controls.oldPassword.touched)"
                style="color: red">  kí tự chữ a -z không dấu , kí tự số 0-9 , ít nhất 5 kí tự </small>
            </div>
          </div>
          <div class="row ml-4">
            <div class="col-6 mt-1">
              <span>Nhập mật khẩu mới (<label style="color: red">*</label>)</span>
            </div>
            <div class="col-6 form-group pl-0 pr-5">
              <input formControlName="newPassword" class="form-control" type="text">
              <small
                *ngIf="passwordForm.controls.newPassword.hasError('pattern') && (passwordForm.controls.newPassword.dirty || passwordForm.controls.newPassword.touched)"
                style="color: red">  kí tự chữ a -z không dấu , kí tự số 0-9 , ít nhất 5 kí tự </small>
            </div>
          </div>
          <div class="row ml-4">
            <div class="col-6 mt-1">
              <span>Xác nhận mật khẩu (<label style="color: red">*</label>)</span>
            </div>
            <div class="col-6 form-group pl-0 pr-5">
              <input formControlName="confirmPassword" class="form-control" type="text">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="updatePassword()" class="mr-3 btn btn-success button" style="font-size: 14px; width: 100px">
            <i class="fa fa-check" aria-hidden="true"></i> Hoàn tất
          </button>
          <button class="btn btn-primary button" style="margin-right: 36px ;font-size: 14px; width: 85px" type="button"
                  data-dismiss="modal">
            <i class="fa fa-reply"></i> Trở về
          </button>
        </div>
</form>
    </div>
  </div>
</div>


