.DongHP input[type=date] {
  border: 1px solid;
  border-radius: 4px;
  width: 170px;
  height: 50px;
}

.DongHP select {
  border: 1px solid;
  border-radius: 4px;
  width: 170px;
  height: 50px;
}

.DongHP .bt {
  width: 150px;
  margin-left: 300px;
  margin-top: 20px;
}

.DongHP .bg1 {
  background-color: white;
  height: 615px;
}

.DongHP .w {
  margin-left: 10px;
}

.DongHP .title {
  background-color: #e54744;
  color: white;
}

.DongHP .bn-search {
  background-color: #18AEFF;
}


